body{
    margin: 0 40px 0 40px  ;
    
    

}
nav{

    display: flex;
    justify-content: space-between;
}
nav ul {
    display:flex;
    list-style: none;
    align-items: center;
}
nav li {
    margin: 0 10px 0 10px ;
     
}   
.hébergement {
    font-family: 'Raleway medium', arial;
    color: #0065FC;
   
}

.activité{
    font-family: 'raleway medium', arial ;
   
    

}
.inscrire{
    font-family: 'raleway medium', arial ;
    font-weight: bold;
    
    color:#0065FC
    
}
body .hébergement {
    border-top: 2px  #0065FC solid ;
    

}
h1{
    font-family:'raleway medium', arial ;
}

p{
    font-family:'raleway medium', arial ;
}